body{
    background-color: white;

}

.container{
    display: flex;
    flex-direction: column;
    margin: 40px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.s-name{
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container_body{
    width: 100%;
    height: 500px;
    background-color: rgba(217, 217, 217, 1);
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 43%;

}
.hnd_program{
    font-size: 23px;
    font-weight: bold;
    color:rgba(0, 0, 0, 0.463);

}
.arrow{
height: 15px;
width: 15px;
}
.folder{
    height: 30px;
    width: 30px;
}
.engineer{

    font-size: 25px;
    font-weight: bolder;
}
.hn{
    font-size: 23px;
    font-weight: bold;
    color:rgba(0, 0, 0, 0.463);


}
a{
    text-decoration: none;
    color: black;
}
.a{
    display: flex;
    flex-direction: column;
    margin-left: 300px;

}

.depart{
    font-size: 26px;
    margin: 10px;
}
.depart:hover{
 
    text-decoration: underline;
    text-decoration-color: blueviolet;
}

@media only screen and (max-width:600px){
    .s-name {
        font-size: 18px;
    }

    .container_body {
        min-height: 400px;
        padding: 10px;
    }

    .hnd_program, .hn, .engineer {
        font-size: 16px;
    }

    .depart {
        font-size: 16px;
        padding: 6px 10px;
    }




}