body{
    background-color: white;

}

.container{
    display: flex;
    flex-direction: column;
    margin: 40px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lh{


}
.s-name{
    color: brown;
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}
.container_body{
    width: 100%;
    height: 500px;
    background-color: rgba(217, 217, 217, 1);
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hnd_program{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 20px;
    color: rgba(0, 0, 0, 0.426);
    text-decoration: none;

}
.hnd_program:hover{

    color: rgba(137, 43, 226, 0.588);

}
.head{
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow_left{
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: black;
}
.folder{
    margin-right: px;
    position:relative;
}
.fold{
    font-size: 29px;
    margin-right: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

    text-decoration: none;
    color: black;
    
}
.school{
    margin-left: 120px;
    margin-top: 20px;
}
.sch{
    font-size: 28px;
    margin: 15px;
    
}
.sch:hover{
    text-decoration: underline;
    text-decoration-color: blueviolet;
}
.fld{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.as{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.aaa{
    font-size: 25px;
    margin-left: 10px;
}
.aaa:hover{
    text-decoration: underline;
    text-decoration-color: blueviolet;
}

@media only screen and (max-width: 600px){

    .s-name{

        font-size: 25px;
    }
    .ll{
     
        display: none;
    }
    .hnd_program{

        font-size: 13px;
    }
     .arrow_left{
        height: 15px;
        width: 13px;
     }
     .folder{
      height: 20px;
      width: 20px;

     }
     .container_body{
        background-color: rgba(147, 141, 141, 0.595);
        margin-right: 100px;
        border-radius: 15px;
     }
     .sch{
        font-size: 20px;
        margin-top: 10px;
     }
     .container{
        margin: 20px;
     }




}