*{
    padding: 0;
    margin: 0;
}

body{

    background-image: url('icons/login page icon/login page.png'); 
   display: flex;
align-items: center;
justify-content: center;
   flex-direction: column;

}
.login{
    flex-direction: column;

    display: flex;
    align-items:center;
    justify-content:center;
}

.container{
    height: 250px;
    width: 350px;
    background-color: white;
    flex-direction: column;

    display: flex;
    
    
    margin-top: 250px;
    margin-left:700px;
    border-radius: 5px;
    padding: 20px;
    border-width: 2px;
    border-style: ridge;
    border-color: rgba(108, 99, 255, 1);
}

label{
    font-size: large;
    
}
input{
height: 50px;
width: 220px;

}
form{
    margin-top: 20px;
}